# Дополнительный вебинар 2024-08-26

## Рекурсия

### Факториал

In [1]:
def factorial(n):
    # Базовый случай: факториал 0 равен 1
    if n == 0:
        return 1
    # Рекурсивный случай: n! = n * (n-1)!
    else:
        return n * factorial(n - 1) # 5 * (4 * factorial(3))

1) n = 5 return 120
2) n = 4 return 24
3) n = 3 return 6
4) n = 2 return 2
5) n = 1 return 1
6) n = 0 return 1

# Пример использования функции
num = 5
result = factorial(num)
print(f"Факториал числа {num} равен {result}")

Факториал числа 5 равен 120

### Задача со Stepik

**Определите функцию print_from, которая принимает одно натуральное число n и распечатывает на экране убывающую последовательность целых чисел от n до 1 включительно. Каждое число необходимо выводить на отдельной строке.**

In [53]:
def print_from(n: int) -> None:
    if n == 1:
        print(1)
    else:
        print(n)
        print_from(n - 1)

print_from(5)

5
4
3
2
1

0! = 1 <--- база рекурсии 
1! = 1
2! = 1 * 2 
3! = 1 * 2 * 3 
4! = 1 * 2 * 3 * 4

## Атрибут класса

## Зачем нужны параметры в init

In [27]:
class ClassName: 

    name = []

    def __init__(self, age, gender):
        # self.name = name
        self.age = age
        self.gender = gender
        self.head = True

    

x = ClassName(age=10, gender='M')

print(x.name, x.age, x.gender)

[] 10 M

## Атрибут класса (неизменяемый тип данных)

In [33]:
class ClassName: 

    name = 1_000_000 #  общий белый мелок 

    def __init__(self, age, gender):
        self.age = age
        self.gender = gender
        self.head = True

    

x = ClassName(age=10, gender='M')
y = ClassName(age=10, gender='M')

# print(x.name, y.name)
print(id(x.name), id(y.name), id(ClassName.name))

x.name = 10
print(id(x.name), id(y.name), id(ClassName.name))

ClassName.name = 0 
print(id(x.name), id(y.name), id(ClassName.name))

4422444816 4422444816 4422444816
4341559488 4422444816 4422444816
4341559488 4341559168 4341559168

## Атрибут класса (изменяемый тип данных)

In [39]:
class ClassName: 

    name = [] #  общий белый мелок 

    def __init__(self, age, gender):
        self.age = age
        self.gender = gender
        self.head = True

    

x = ClassName(age=10, gender='M')
y = ClassName(age=10, gender='M')

# print(x.name, y.name)
print(id(x.name), id(y.name), id(ClassName.name))

x.name.append(10)
print(x.name, y.name, ClassName.name)
print(id(x.name), id(y.name), id(ClassName.name))

x.name = [5]
print(x.name, y.name, ClassName.name)
print(id(x.name), id(y.name), id(ClassName.name))

ClassName.name = [100, 100] 
print(x.name, y.name, ClassName.name)
print(id(x.name), id(y.name), id(ClassName.name))

4422012992 4422012992 4422012992
[10] [10] [10]
4422012992 4422012992 4422012992
[5] [10] [10]
4419195136 4422012992 4422012992
[5] [100, 100] [100, 100]
4419195136 4406137024 4406137024

## Super

class ParentName: 

    def __init__(self, age, gender):
        self.name = 'Я ИМЯ ИЗ РОДИТЕЛЯ'
        self.age = age
        self.gender = gender
        self.head = True

    def another_method(self):
        print('PRINT')


class ChildClass(ParentName):

    def __init__(self, name, age, gender): 
        
        super().__init__(age, gender)
        self.name = 'Я ИМЯ ИЗ РЕБЕНКА'


    def another_method(self):
        pass


child = ChildClass(name='Вася', age=33, gender='M') # new init 
child.name

## inplace операции

inplace (на месте)
НЕ inplace (на месте)

In [54]:
lst = [1, 2, 3, 1, 2, 3, 4, 5, 9, 1, 2]

lst = lst.sort() # на месте 

print(lst)

None

In [55]:
lst = [1, 2, 3, 1, 2, 3, 4, 5, 9, 1, 2]
print(id(lst))

lst1 = sorted(lst) # НЕ на месте 

print(id(lst))
print(id(lst1))

4419450816
4419450816
4422331328

In [56]:
lst = [1, 2, 3, 1, 2, 3, 4, 5, 9, 1, 2]

lst = lst.append(10_000) # на месте

print(lst)

None

In [57]:
lst = [1, 2, 3, 1, 2, 3, 4, 5, 9, 1, 2]

lst.append(10_000) # на месте

print(lst)

[1, 2, 3, 1, 2, 3, 4, 5, 9, 1, 2, 10000]

## Замыкание

In [51]:
def make_multiplier(factor): # фабрика функций
    
    def multiplier(x):
        return x * factor 
    return multiplier

# Создание двух разных функций умножения
times2 = make_multiplier(2)
times3 = make_multiplier(3)

print(times2(5))  
print(times3(5))

500
500